<div id="search-container">
    <div id="search-space">
        <input autocomplete="off" id="search-bar" name="search" type="text" aria-label="Search"
            placeholder="Search for something...">
        <div id="results-container">
        </div>
    </div>
</div>
<script crossorigin="anonymous"
    integrity="sha512-nFmzFs0vxLvw95r3kpEArM496n1udEDP2OJ+uoyv00RaP4B6NOHbciX0Gr2V9/DxeaHi3fKXLYty8YTLgVkquw=="
    src="https://lib.baomitu.com/FlexSearch/0.7.2/flexsearch.bundle.min.js"></script>
{{ $js := resources.Get "js/search.js" | resources.Fingerprint "md5" | resources.Minify }}
<script defer src="{{ $js.Permalink }}"></script>